<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SD Lab Practice</title>
</head>
<body>
    <div class="box_login" align="center">
        <h1>
            Welcome to SD lab Practicals.
        </h1>
        <form class="login" action="/" method="post">
            <h3>
                Enter your username and password:
            </h3>
            <div class="hayabusa">
                <label>
                    Username:
                </label>
                <input type="text" name="username">
            </div>
            <br>
            <div class="hayabusa2">
                <label>
                    Password:
                </label>
                <input type="password" name="password">
            </div>
            <br>
            <h3>{{fail}}</h3>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>